.card {
  border-radius: 2px;
  height: 125px;
  margin: 1rem;
  position: relative;
  width: 125px;
  box-shadow: 0 3px 6px rgb(31, 29, 29);
  text-align: left;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  width: 100%
}

