#searchBar {
    width: 100%;
    border: 5px solid rgb(77, 64, 124);
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    padding: 50px;
    margin: 20px;
    font-size: x-large;
    text-align: center;
    color: rgb(255, 255, 255);
  }

input {
    width: 30%;
}
  