table {
    border-spacing: 0;
    border: 1px solid #ededed;
  }

  table tr:last-child td {
    border-bottom: 0;
  }

  table th, table td {
    text-align: center;
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    position: relative;
  }

  table th:last-child,
  table td:last-child {
    border-right: 0;
  }

  table tr:nth-child(even) {
    background-color: #fafafa;
  }
  
  table th::before {
    position: absolute;
    right: 15px;
    top: 16px;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

.search{
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: inherit;
}

  input {
    width: 25%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgb(31, 29, 29);
  }